!!!
html
	head
		//script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
		script(type='text/javascript', src='/js/jquery.js')
		block head
	body
		block body