<script src="/socket.io/socket.io.js"></script>
<script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
<script src="/js/messaging.js"></script>

Chat with:
<ul id="users"></ul>
Send text:
<input id="message" type="text" />
<button id="send" onclick="send()">Send!</button>
