body {
	padding:0px 0px 0px 0px;
	margin:0px;
}

.logo {
	border: 4px solid black;
	height: 100px;
	width: 100px;
	display: inline-block;
	position:absolute;
	margin-left: 20px;
	position: fixed;
	z-index: 2;
}
.header {
	border: 4px solid black;
	background-color: #C0C0C0;
	height: 75px;
	width: 100%;
	display:inline-block;
	margin: 10px 0px 0px 0px;
	position: fixed;
	z-index: 1;
}
#search {
	display:inline-block;
	margin: 20px 0px 0px 140px;
	position: absolute;
}


.hbuttons {
	border: 2px solid black;
	height: 50px;
	width: 100px;
	margin: 10px 5px 0px 0px;
	display:inline-block;
	border-radius: 15%;
}
.hbuttons img {
	border-radius: 15%;
}
#scroll {
	margin-left: 1100px;
}
#scroll ul {
	display: none;
	list-style-type: none;
	height: 175px;
	width: 100px;
	background-color: #C0C0C0;
}
#scroll ul li {
	text-align: left;
	text-decoration: none;
	font-size: 30px;
}
#dropdownscroll {
	margin-top: 15px;
}
#scroll:hover ul {
	display: block;
	position: absolute;
}
#player {
	display: inline-block;
	position: absolute;
	margin: 20px 0px 0px 775px;
}
#dropdownplayer {
	display: none;
}
#player:hover #dropdownplayer {
	display: block;
	height: 400px;
	width: 400px;
	background-color: black;
}

.sidebar {
	display: inline-block;
	height: 300px;
	width: 150px;
	background-color: #616D6D;
	clear: both;
	margin: 200px 0px 0px 20%;
	position: absolute;
}
.sideaction {
	text-align: center;
	position: center;
	background-color: #C0C0C0;
	color: black;
	font-size: 30px;
	width: 100%;
	height: 11%;
	border: 3px solid black;
	/*border-radius: 10%;*/
	margin: auto;
	vertical-align: middle;
}

.messagespace {
	height: 500px;
	width: 900px;
	background-color: #C0C0C0;
	display: inline-block;
	margin: 0px 40px 0px 0px;
	border: 3px solid black;
	top: 200px;
	float: right;
	position: relative;
	
}
.back {
    height: 40px;
	/*width: 100px;*/
	background-color: black;
	font-size: 20px;
	position: absolute;
	display: inline-block;
	top: 130px;
	color: white;
	left: 50px;
	border: 3px solid #C0C0C0;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	
	}
body {
background-color: #616D6D;
}
.tabs1 {
	float: left;
	display: inline-block;
	background-color: black;
	height:25px;
	color: white;
	border: 2px solid #C0C0C0;
	padding: 2px;
	}
.tabs2 {
	float: right;
	display: inline-block;
	background-color: black;
	height: 25px;
	color: white;
	border: 2px solid #C0C0C0;
	padding: 2px;	
}
.tabbar {
	display: inline-block;
	background-color: black;
	width: 100%;
}
.services{
	float: left;
	display: inline-block;
	position: relative;
	background-color:#616D6D;
	height: 175px;
	width: 200px;
	margin: 200px 0px 0px 40px;
}
.service1{
	height: 25%;
	background-color: #C0C0C0;
	border: 3px solid black;
	width: 100%;
	font-size: 30px;
	text-align: center;
	}
.service2{
	height: 25%;
	background-color: #C0C0C0;
	border: 3px solid black;
	width: 100%;
	font-size: 30px;
	text-align: center;
	}
.service3{
	height: 25%;
	background-color: #C0C0C0;
	border: 3px solid black;
	width: 100%;
	font-size: 30px;
	text-align: center;
	}
.service4{
	height: 25%;
	background-color: #C0C0C0;
	border: 3px solid black;
	width: 100%;
	font-size: 30px;
	text-align: center;
	}	
.facebook{
	background-color: #3b5998;
	font-family: Tahoma;
	color: white;
	}
.twitter{
	background-color: #4099FF;
	font-family: Arial;
	color: white;
	}
.youtube{
	background-color: #cd201f;
	font-family: Arial;
	}
.tube{
	color: white;
}