body {
	padding:0px 0px 0px 0px;
	margin:0px;
}

.logo {
	border: 4px solid black;
	height: 100px;
	width: 100px;
	display: inline-block;
	position:absolute;
	margin-left: 20px;
	position: fixed;
	z-index: 2;
}
.header {
	border: 4px solid black;
	background-color: #C0C0C0;
	height: 75px;
	width: 100%;
	display:inline-block;
	margin: 10px 0px 0px 0px;
	position: fixed;
	z-index: 1;
}
#search {
	display:inline-block;
	margin: 20px 0px 0px 140px;
	position: absolute;
}


.hbuttons {
	border: 2px solid black;
	height: 50px;
	width: 100px;
	margin: 10px 5px 0px 0px;
	display:inline-block;
	border-radius: 15%;
}
.hbuttons img {
	border-radius: 15%;
}
#scroll {
	margin-left: 1100px;
}
#scroll ul {
	display: none;
	list-style-type: none;
	height: 175px;
	width: 100px;
	background-color: #C0C0C0;
}
#scroll ul li {
	text-align: left;
	text-decoration: none;
	font-size: 30px;
}
#dropdownscroll {
	margin-top: 15px;
}
#scroll:hover ul {
	display: block;
	position: absolute;
}
#player {
	display: inline-block;
	position: absolute;
	margin: 20px 0px 0px 775px;
}
#dropdownplayer {
	display: none;
}
#player:hover #dropdownplayer {
	display: block;
	height: 400px;
	width: 400px;
	background-color: black;
}
.messagespace {
	height: 700px;
	width: 1100px;
	background-color: #C0C0C0;
	display: inline-block;
	margin: 0px 40px 0px 0px;
	border: 3px solid black;
	top: 200px;
	float: right;
	position: relative;
	
}
.back {
    height: 40px;
	/*width: 100px;*/
	background-color: black;
	font-size: 20px;
	position: absolute;
	display: inline-block;
	top: 130px;
	color: white;
	left: 50px;
	border: 3px solid #C0C0C0;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	
	}
body {
background-color: #616D6D;
}
.tabs1 {
	float: left;
	display: table-cell;
	background-color: #C0C0C0;
	height:90%;
	vertical-align: middle; 
	color: black;
	padding: 5px 0px 0px 0px;
	font-size: 35px;
	margin: auto;
	
	}
.tabs2 {
	float: right;
	display: table-cell;
	background-color: #C0C0C0;
	height: 90%;
	color: black;
	padding: 5px 10px 0px 10px;
	vertical-align: middle;	
	font-size: 35px
	}
.tabs3 {
	float: right;
	display: table-cell;
	background-color: #C0C0C0;
	height: 90%;
	color: black;
	padding: 5px 10px 0px 10px;
	vertical-align: middle;	
	font-size: 35px
	
}

.tabbar {
	display: inline-block;
	background-color: black;
	width: 100%;
}
.services{
	float: left;
	display: inline-block;
	position: relative;
	background-color:#616D6D;
	height: 175px;
	width: 200px;
	margin: 200px 0px 0px 40px;
}
.service1{
	height: 25%;
	background-color: #C0C0C0;
	border: 3px solid black;
	width: 100%;
	font-size: 30px;
	text-align: center;
	}
.service2{
	height: 25%;
	background-color: #C0C0C0;
	border: 3px solid black;
	width: 100%;
	font-size: 30px;
	text-align: center;
	}
.service3{
	height: 25%;
	background-color: #C0C0C0;
	border: 3px solid black;
	width: 100%;
	font-size: 30px;
	text-align: center;
	}
.service4{
	height: 25%;
	background-color: #C0C0C0;
	border: 3px solid black;
	width: 100%;
	font-size: 30px;
	text-align: center;
	}	
.facebook{
	background-color: #3b5998;
	font-family: Tahoma;
	color: white;
	}
.twitter{
	background-color: #4099FF;
	font-family: Arial;
	color: white;
	}
.youtube{
	background-color: #cd201f;
	font-family: Arial;
	}
.tube{
	color: white;
}
.searchconvos{
	background-color: #C0C0C0;
	border: 1px solid black;
	height: 15%;
	width: 100%;
	float: left;
	position: inline-block;
	clear: both;
}
.convo{
	background-color: #C0C0C0;
	border: 1px solid black;
	height: 10%;
	width: 100%;
	float: left;
	display: inline-block;
	clear: both;
	
}
.convobar{
	width:73%;
	height:10%;
	border: 1px solid black;
	display: block;
	float: right;
	background-color: #C0C0C0;
	position: relative;
	border-left: #C0C0C0;
	}
	
.convos{
	height: 100%;
	width: 25%;
	display: inline-block;
	float: left;
	position: relative;
	}
.bottombar{
	height: 20%;
	width:73%;
	background-color: #C0C0C0;
	border: 1px solid black;
	float: right;
	margin: 44% 0px 0px 0px;
	position: relative;
	}
.textinput{
	background-color: white;
	margin: 2% 5% 0px 5%;
	width: 90%;
	height: 60%
	}
.textbuttons {
	 background-color: #C0C0C0;
	 position: relative;
	 margin: 0px 5% 0px 5%;
	 width: 90%;
	 height: 18%;
	 border: 1px solid black;
}
.textbutton1 {
	background-color: #C0C0C0;
	float: left;
	border: 1px solid black;
	display: inline-block;
	margin: 0px 15px 0px 0px;
	font-size: 20px;
	}
.textbutton2 {
	background-color: #C0C0C0;
	float: right;
	display: inline-block;
	margin: 0px 10px 0px 0px;
	font-size: 20px
	}
	