.feed {
	height: 620px;
	width: 1170px;
	display: inline-block;
	float: left;
	margin-left: -8px;
}
#getposts {
	height: 100px;
	width: 100px;
	border: 4px solid black;
	margin: 20px 0px 10px 20px;
	display: inline-block;
	vertical-align: top;
}
#login {
	height: 100px;
	width: 100px;
	border: 4px solid black;
	margin: 20px 0px 10px 20px;
	display: inline-block;
}

.post{
	/* overflow-y: hidden; */
	overflow-x: hidden;
	margin: 0px 0px 10px 20px;
}
.facebook{
	border: 4px solid black;
	/* height: 120px; */
	width: 500px;
	background-color: blue;
}
.reddit{
	border: 4px solid black;
	/*height: 120px;*/
	width: 500px;
	background-color: red;
}
.userimage {
	height: 120px;
	width: 120px;
	display: inline-block;
	position: absolute;
}
.postfrom {
	margin: 5px 0px 10px 0px;
}
.posttext {
	margin: 5px 0px 10px 0px;
}
.postimage{
	margin: 10px 0px 0px 200px;
}
.textspace {
	display: inline-block;
	height: 120px;
	width: 370px;
	margin: 0px 0px 0px 130px;
}
.imagespace{
	height: 120px;
	width: 120px;
	display: inline-block;
	position: absolute;
}
.postimagespace{
	/* height: 200px; */
	width: 500px;
}
.instagram{
	background-color: purple;
	border: 4px solid black;
	/* height: 120px; */
	width: 500px;
}
.instagram  .postimage{
	height: 250px;
	width: 250px;
}
.postdropdown{
	height: 25px;
	width: 500px;
	background-color: white;
	text-align: center;
}


.tumblr {
	border: 4px solid black;
	/* height: 350px; */
	width: 350px;
}
.twitter {
	border: 4px solid black;
	/* height: 120px; */
	width: 500px;
}


.adpanel {
	height: 620px;
	width: 350px;
	display:inline-block;
	float: right;
	margin: 120px 0px 0px 1600px;
	position: fixed;
}
.ad {
	border: 4px solid black;
	border-radius: 100%;
	height: 175px;
	width: 175px;
	margin: auto;
	margin-bottom: 20px;
	background: white;
}
#adimg {
	border-radius: 100%;
	height: 175px;
	width: 175px;
}
#backgroundPopup {
    z-index:1;
    position: fixed;
    display:none;
    height:100%;
    width:100%;
    background:#000000;
    top:0px;
    left:0px;
}
#toPopup {
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 10px solid #ccc;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    display: none;
    font-size: 14px;
    left: 50%;
    margin-left: -402px;
    position: fixed;
    top: 20%;
    width: 800px;
    z-index: 2;
}
div.loader {
    background: url("../img/loading.gif") no-repeat scroll 0 0 transparent;
    height: 32px;
    width: 32px;
    display: none;
    z-index: 9999;
    top: 40%;
    left: 50%;
    position: absolute;
    margin-left: -10px;
}
div.close {
    background: url("../img/closebox.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: -27px;
    top: -24px;
    width: 30px;
}
span.ecs_tooltip {
    background: none repeat scroll 0 0 #000000;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    display: none;
    font-size: 11px;
    height: 16px;
    opacity: 0.7;
    padding: 4px 3px 2px 5px;
    position: absolute;
    right: -62px;
    text-align: center;
    top: -51px;
    width: 93px;
}
span.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000000;
    display: block;
    height: 1px;
    left: 40px;
    position: relative;
    top: 3px;
    width: 1px;
}
div#popup_content {
    margin: 4px 7px;
    /* remove this comment if you want scroll bar
    overflow-y:scroll;
    height:200px
    */
}