body {
	padding: 0px;
	margin: 0px;
	background-image: url('/assets/background.jpg');
}

#logo {
	height: 100px;
	width: 100px;
	display: inline-block;
	position:absolute;
	margin-left: 0px;
	position: absolute;
	z-index: 3;
}

#submit {
	height: 20px;
	float: right;
	padding: 5px;
	background-color: #FFFFFF;
}

#notifications {
	height: 27px;
	margin-top: 20px;
	margin-left: 130px;
	margin-right: 20px;
}

#bar {
	background-color: #C0C0C0;
	height: 70px;
	width: 100%;
	display: inline;
	position: fixed;
	z-index: 2;
}

#search {
	display: inline-block;
	margin: 20px 0px 0px 10px;
	width: 580px;
	position: absolute;
}

#searchterm {
	border: none;
	padding-left: 5px;
	font-size: 15px;
	height: 25px;
	width: 500px;
	background: #FFFFFF url(/assets/search.png) no-repeat scroll right center;
}

#logoicons {
	position: fixed;
	left: 100px;
	top: 70px;
}

.logoicon {
	height: 30px;
	width: 30px;
	margin: 0px;
	padding: 0px;
	float: left;
}

.hbuttons {
	font-family: abeat;
	font-size: 20px;
	font-style: bold;
	float: right;
	padding: 25px;
	display:inline-block;
}

.hbuttons:hover {
	/*border-radius: 25px;*/
	background-color: #FFFFFF;
}

@font-face {
	font-family: abeat;
	src: url('abeat.ttf');
}