body {
	padding:0px 0px 0px 0px;
	margin:0px;
	background-image: url('/assets/background.jpg');
}

.logo {
	border: 4px solid black;
	height: 100px;
	width: 100px;
	display: inline-block;
	position:absolute;
	margin-left: 20px;
	position: fixed;
	z-index: 3;
}
.header {
	border: 4px solid black;
	background-color: #C0C0C0;
	height: 75px;
	width: 100%;
	display:inline-block;
	margin: 10px 0px 0px 0px;
	position: fixed;
	z-index: 2;
}
#search {
	display: inline-block;
	margin: 20px 0px 0px 140px;
	position: absolute;
}


.hbuttons {
	border: 2px solid black;
	height: 50px;
	width: 100px;
	margin: 10px 5px 0px 0px;
	display:inline-block;
	border-radius: 15%;
}

.hbuttons img {
	border-radius: 15%;
}

#scroll {
	margin-left: 1100px;
}