#contentFrame {
	height: 100%;
	width: 100%;
}

#content {
	position: absolute;
	top: 100px;
	bottom: 50px;
	width: 100%;
	background: transparent;
}

#footer {
	width: 100%;
	height: 50px;
	bottom: 0px;
	position: fixed;
	background-color: black;
}

html,body {
	height: 100%;
}