/* Music App Styles */
#musicappholder{
	margin: 20px 0px 0px 0px;
	display: inline-block;
}
.musicapp{
	border: 2px solid black;
	height: 400px;
	width: 700px;
	margin: 0px 20px 20px 20px;
	overflow-y: scroll;
	background: white;
}


/* SOUNDCLOUD STYLES */
#scheader{
	width: 699px;
	height: 75px;
	background: orange;
	margin: 0px 0px 20px 0px;
	position: absolute;
	z-index: 1;
}
#scsearchbox{
	width: 200px;
	display: inline-block;
	margin: 25px 0px 0px 200px;
}
#scsearchbutton{
	height: 25px;
	width: 50px;
	display: inline-block;
}
#sclinks{
	width: 600px;
	height: 265px;
	margin: 90px 0px 0px 0px;
}
.scsearchresult{
	border: 2px solid black;
	height: 100px;
	margin: 0px 0px 20px 20px;
}
.scsongimage{
	height: 100px;
	width: 100px;
	display: inline-block;
	position: relative;
}
.sctextbuttonspace{
	display: inline-block;
	vertical-align: top;
}
.sctitle{
	margin-left: 10px;
	position: relative;
}
.scplaybutton{
	margin-left: 10px;
	display: inline-block;
}
.scpausebutton{
	margin-left: 10px;
	display: inline-block;
}
.scaddbutton{
	margin-left: 10px;
	display: inline-block;
}
.soundcloud {
	background-color: #00aa00
}
.youtube {
	background-color: #aaaa00
}






/* PLAYLIST Styles */
#playlist{
	border: 2px solid purple;
	height: 575px;
	width: 700px;
	display: inline-block;
	margin: 20px 60px 0px 100px;
	padding: none;
	position: fixed;
}
#albumimgholder{
	height: 120px;
	width: 120px;
	display: inline-block;
}
#albumimg{
	height: 120px;
	width: 120px;
	display: inline-block;
}
#textandcontrols{
	height: 120px;
	width: 560px;
	display: inline-block;
	vertical-align: top;
}
#list{
	height: 700px;
	width: 700px;
}
.playlistitem{
	height: 50px;
}
.playlistitemtext{
	height: 48px;
	float: left;
	display: inline-block;
}
.moveupbutton{
	float: right;
	display: inline-block;
	background: blue;
	height: 48px;
	width: 48px;
}
.movedownbutton{
	float: right;
	display: inline-block;
	background: red;
	height: 48px;
	width: 48px;
}
.playfromplaylist{
	float: right;
	display: inline-block;
	background: green;
	height: 48px;
	width: 48px;
}
.pauseplaylist{
	float: right;
	display: inline-block;
	background: orange;
	height: 48px;
	width: 48px;
}

/* YOUTUBE STYLES */

#playerhider {
	overflow: hidden;
	height: 0px;
}