/*body {
	margin: 0px;
}

#controls {
	background-color: #f00;
	height: 100px;
	width: 400px;
	float: left;
	display: inline;
}

#queue {
	background-color: #0f0;
	height: 100px;
	width: 100%;
	display: inline;
}

#messaging {
	background-color: #00f;
	height: 100px;
	width: 400px;
	float: right;
	display: inline;
}*/